<!--cjm_box start-->
<div id="cjm_box">
  <app-home-index-hearder></app-home-index-hearder>
  <app-home-index-content [total]="total"
                          [list]="list"
                          [viewList]="viewList"
                          [pageSize]="pageSize"
                          (chPageIndexChange)="chPageIndexChange($event)"
                          (chPageSizeChange)="chPageSizeChange($event)"
  ></app-home-index-content>
  <app-home-index-footer></app-home-index-footer>
</div>
<!--cjm_box end-->
