body {
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
    font-size: 12px;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#article {
    width: 100%;
}

/**文章内容开始**/
#article #article_box {
    width: 1200px;
    margin: 20px auto;
    overflow: hidden;
}

#article_box .article_left {
    width: 880px;
    overflow: hidden;
    float: left;
}

#article_box .article_left .l_tag {
    width: 60px;
    float: left;
    overflow: hidden;
}

#article_box .article_left .l_content {
    float: right;
    width: 780px;
    overflow: hidden;
}

#article_box .article_left .l_tag ul li {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
    background: #fafafa;
    color: #666;
}

#article_box .article_left .l_tag li a {
    color: #ccc;
    font-size: 35px;
    text-decoration: none;
}

#article_box .article_left .l_tag li .icon {
    font-size: 30px;
  }

#article_box .article_left .l_tag ul li:nth-child(1):hover {
    background: #1ec354;
}

#article_box .article_left .l_tag ul li:nth-child(2):hover {
    background: #17a9ff;
}

#article_box .article_left .l_tag ul li:nth-child(3):hover {
    background: #ffce0b;
}

#article_box .article_left .l_tag ul li:nth-child(4):hover {
    background: #f74864;
}

#article_box .article_left .l_tag ul li:nth-child(5):hover {
    background: #3091f4;
}

#article_box .article_left .l_tag ul li:nth-child(6):hover {
    background: #f63756;
}

#article_box .article_left .l_tag ul li:nth-child(7):hover {
    background: #3091f4;
}

#article_box .article_left .l_tag ul li:nth-child(8):hover {
    background: #ff6060;
}

/**文章css**/
#article_box .article_left .l_content .header_subject {
    margin: 0;
}

#article_box .article_left .l_content .header_subject .subject_type {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
}

#article_box .article_left .l_content .header_subject .type_1 {
    color: #ca0c16;
    border: 1px solid #f4ced0;
}

#article_box .article_left .l_content .header_subject .type_2 {
    color: #86ca5e;
    border: 1px solid #86ca5e;
}

#article_box .article_left .l_content .header_subject .type_3 {
    color: #ff8833;
    border: 1px solid #ff8833;
}

/**文章头部**/
#article_box .article_left .l_content .header_link_box {
    height: 60px;
    line-height: 60px;
}

#article_box .article_left .l_content .header_link_box .article_time {
    padding-right: 12px;
}

#article_box .article_left .l_content .header_link_box .article_view {
    padding-right: 12px;
}

#article_box .article_left .l_content .header_link_box .article_com {
    padding-right: 12px;
}

#article_box .article_left .l_content .header_link_box a {
    float: right;
    margin-left: 45px;
    color: #40a9ff;
    font-size: 16px;
    text-decoration: none;
}

/**标签**/
#article_box .article_left .l_content .tags {
    margin-bottom: 15px;
    overflow: hidden;
}

#article_box .article_left .l_content .tags ul .tags_icon {
    background: #fff;
    border: 0;
}

#article_box .article_left .l_content .tags .icon {
    font-size: 20px;
    color: #ff9b9c;
    padding: 3px 0;

}

#article_box .article_left .l_content .tags span {
    font-size: 16px;
    padding-left: 5px;
}

#article_box .article_left .l_content .tags .tags_icon {
    float: left;
    padding: 3px 5px;
    margin: 5px 5px;
    list-style-type: none;
    border: 1px solid #fafafa;
}

#article_box .article_left .l_content .tags ul li {
    float: left;
    padding: 10px 10px;
    margin: 5px 5px;
    list-style-type: none;
    background: #40a9ff;
    border-radius: 5px;
}

#article_box .article_left .l_content .tags ul li:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

#article_box .article_left .l_content .tags ul li a:hover {
    color: #fff;
}

#article_box .article_left .l_content .tags ul li a {
    text-decoration: none;
    color: #fff;
}

/**tags end**/

#article_box .article_left .l_content .l_content_img {
    overflow: hidden;
    height: 400px;
    width: 100%;
}

#article_box .article_left .l_content .l_content_img img {
     width: 100%;
}

#article_box .article_left .l_content .l_content_con {
    margin: 25px 0 35px;
    padding: 10px 10px;
    overflow: hidden;
    width: 100%;
}

#article_box .article_left .l_content .l_content_con img {
    max-width: 100%;
 }

/**文章右侧盒子**/
#article_box .article_right {
    width: 300px;
    float: right;
    overflow: hidden;
}

/**用户信息**/
#article_box .article_right .author_info {
      overflow: hidden;
      width: 300px;
      background-color: #fafafa;
      padding: 30px 0 30px 0;
      text-align: center;
      margin-bottom: 35px;
  }

#article_box .article_right .author_info .author_img {
    position: relative;
    width: 98px;
    height: 98px;
    border-radius: 49px;
    overflow: hidden;
    left: 50%;
    margin-left: -49px;
}

#article_box .article_right .author_info .author_img img {
    max-width: 100%;
 }

#article_box .article_right .author_info .auhtor_username {
    font-size: 16px;
    margin: 15px 0;
}

#article_box .article_right .author_info .auhtor_username a {
    text-decoration: none;
    color: #000;
}

#article_box .article_right .author_info .auhtor_username a:hover {
    color: #3cb7f7;
}

#article_box .article_right .author_info .author-one {
    color: #bbb;
    margin: 12px 8px 12px 8px;
    font-size: 14px;
}

#article_box .article_right .author_info .author-article-box {
    color: #bbb;
}

#article_box .article_right .author_info .author-article-box ul li a {
    color: #bbb;
    text-decoration: none;
}

#article_box .article_right .author_info .author-article-box ul li a:hover {
    color: #000;
}


/**热门标签**/
#article_box .article_right .hot_tag {
      width: 300px;
      overflow: hidden;
      background-color: #fafafa;
      position: relative;
  }

#article_box .article_right .hot_tag h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 30px 30px 0 30px;
    margin-bottom: 10px;
}

#article_box .article_right .hot_tag .tag_all {
    position: absolute;
    margin-top: -35px;
    right: 30px;
    float: left;
}

#article_box .article_right .hot_tag .tag_all a {
    color: #666;
}

#article_box .article_right .hot_tag .tag_all a:hover {
    color: #ccc;
}

#article_box .article_right .hot_tag .mark {
    display: inline-block;
    background-color: #f63756;
    position: absolute;
    z-index: 1;
    height: 20px;
    line-height: 20px;
    margin: -35px 0 0 0;
    width: 4px;
}

#article_box .article_right .hot_tag .tag_box ul {
    margin: 10px 0 0 0;
    display: inline-block;
}

#article_box .article_right .hot_tag .tag_box ul li {
    float: left;
    height: 35px;
    background:#3ca5f6 ;
    margin: 0 5px 12px 15px;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    list-style-type: none;
}

#article_box .article_right .hot_tag .tag_box ul li:nth-child(1){
    background:#ff858e ;
}

#article_box .article_right .hot_tag .tag_box ul li:nth-child(2){
    background:#ffce0b ;
}

#article_box .article_right .hot_tag .tag_box ul li:nth-child(3){
    background:#666 ;
}

#article_box .article_right .hot_tag .tag_box ul li:nth-child(4){
    background:#86ca5e ;
}

#article_box .article_right .hot_tag .tag_box ul li:nth-child(5){
    background:#3ca5f6 ;
}

#article_box .article_right .hot_tag .tag_box ul li:nth-child(6){
    background:#cdbfe3 ;
}

#article_box .article_right .hot_tag .tag_box ul li:nth-child(7){
    background:#bbb ;
}

#article_box .article_right .hot_tag .tag_box ul li:nth-child(8){
    background:#ffce0b ;
}

#article_box .article_right .hot_tag .tag_box ul li:nth-child(9){
    background:#f63756 ;
}

#article_box .article_right .hot_tag .tag_box ul li a {
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 33px;
    text-decoration: none;
}

#article_box .article_right .hot_tag .tag_box ul li:hover {
    -webkit-transform: scale(1.2) rotate(-10deg);
    -moz-transform: scale(1.2) rotate(-10deg);
    -o-transform: scale(1.2) rotate(-10deg);
    transform: scale(1.2) rotate(-10deg);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#article_box .article_right .hot_tag .tag_box ul li a:hover {
    color: #fff;
}