body {
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
    font-size: 12px;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#content {
    width: 100%;
    overflow: hidden;
}

/**轮播图**/
#content #carousel_box {
    width: 1180px;
    margin: 25px auto;
    overflow: hidden;
    height: 360px;
}

#carousel_box .layui-carousel {
    width: 680px;
    float: left;
    overflow: hidden;

}

#carousel_box .img_box {
    position: absolute;
    background: #000;
}

#carousel_box .title {
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 9999;
    color: #000;
    font-size: 18px;
}

#carousel_box .layui-carousel img {
    width: 100%;
    height: 100%;
}

/**常用站点**/
#carousel_box .hotnew {
    width: 340px;
    height: 100%;
    float: left;
    margin-left:30px;
    overflow: hidden;
    background-color: #fafafa;
    border: 1px dashed #ecf4f9
}

#carousel_box .hotnew .hotnew_site {
    position: relative;
}

#carousel_box .hotnew .hotnew_site h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 30px 200px 0 30px;
    margin-bottom: 10px;
    color: #000;
}

#carousel_box .hotnew .hotnew_site .all {
    position: absolute;
    margin-top: -35px;
    right: 30px;
    float: left;
}

#carousel_box .hotnew .hotnew_site .all a {
    color: #666;
}

#carousel_box .hotnew .hotnew_site .all a:hover {
    color: #ccc;
}

#carousel_box .hotnew .hotnew_site .mark {
    display: inline-block;
    background-color: #f63756;
    position: absolute;
    z-index: 1;
    height: 20px;
    line-height: 20px;
    margin: -35px 0 0 0;
    width: 4px;
    left: 0;
}

#carousel_box .hotnew .hotnew_site .box ul {
    margin: 10px 0 0 0;
    display: inline-block;
}

#carousel_box .hotnew .hotnew_site .box ul li {
    float: left;
    height: 35px;
    background: #1E9FFF;
    margin: 0 20px 20px 10px;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 5px;
    list-style-type: none;
}

#carousel_box .hotnew .hotnew_site .box ul li a {
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 33px;
    text-decoration: none;
}

#carousel_box .hotnew .hotnew_site .box ul li:hover {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#carousel_box .hotnew .hotnew_site .box ul li a:hover {
    color: #fff;
}

/**文章开始**/
#content #article_box {
    width: 1180px;
    margin: 30px auto;
    overflow: hidden;
}

#article_box .article {
    float: left;
    width: 680px;
    overflow: hidden;
}

#article_box .article .item_box {
    border: 1px solid #f0f0f0;
    height: 180px;
    overflow: hidden;
    margin-bottom: 20px;
}

#article_box .article .i_img {
    float: left;
    width: 160px;
    height: 160px;
    overflow: hidden;
    padding: 20px 10px 5px 20px;
}

#article_box .article .i_img img {
    width: 100%;
 }

#article_box .article .i_img:hover img {
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#article_box .article .i_content {
    position: relative;
    float: right;
    width: 480px;
    overflow: hidden;
    padding: 0;
    margin-right: 20px;
    margin-top: 20px;
 }

#article_box .article .i_content h2 {
    font-size: 24px;
}

#article_box .article .i_content h2 a {
    display: block;
    font-size: 18px;
    line-height: 1.5;
    word-break: normal;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
    color: #000;
}

#article_box .article .i_content h2 a:hover {
    color: #40a9ff;
}

#article_box .article .i_content .user_item {
    margin-top: 15px;
}

/**文章用户头像,用户名，浏览数，评论数**/
#article_box .article .i_content .user_item .user_info {
    height: 45px;
    line-height: 45px;
}

#article_box .article .i_content .user_item .user_img {
    width: 35px;
    height: 35px;
    position: absolute;
}

#article_box .article .i_content .user_item .user_img img {
    width: 100%;
    overflow: hidden;
    border-radius: 35px;
}

#article_box .article .i_content .user_item a {
    text-decoration: none;
    color: #ccc;
    text-align: center;
}

#article_box .article .i_content .user_item .author-name {
    margin-left: 50px;
}

#article_box .article .i_content .user_item .datetime {
    color: #ccc;
    margin-left: 15px;
}

#article_box .article .i_content .user_item .anticon {
    color: #ccc;
}

#article_box .article .i_content .user_item i {
    font-size: 16px;
    color: #ccc;
}

#article_box .article .i_content .user_item .glyphicon-eye-open {
    margin-left: 15px;
    font-size: 16px;
}

#article_box .article .i_content .user_item .glyphicon-comment {
    margin-left: 15px;
}

#article_box .article .i_content .user_item em {
    color: #ccc;
    margin-left: 5px;
}

/**文章标签**/
#article_box .article .i_content .tags {
    height: 40px;
    line-height: 40px;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

#article_box .article .i_content .tags ul {
    width: 410px;
    float: left;
}

#article_box .article .i_content .tags ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 5px 5px;
    padding: 0px 5px;
    text-align: center;
    /* background: #3385ff;*/
    background: #ff858e;
    border-radius: 5px;
}

#article_box .article .i_content .tags ul li:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

#article_box .article .i_content .tags ul li a {
    text-decoration: none;
    color: #fff;
}

#article_box .article .i_content .tags .forum {
    width: 50px;
    float: right;
}

#article_box .article .i_content .tags .forum a {
    color: #3ca5f6;
}

/**文章右侧 列表**/
#article_box .article_right {
    float: left;
    width: 340px;
    overflow: hidden;
    margin-left: 30px;
}

#article_box .article_right .r_box {
    background-color: #fafafa;
    overflow: hidden;
    text-align: center;
    width: 340px;
}

/**点击排行 start**/
#article_box .article_right .hot_article {
    width: 340px;
   /* margin-left: 50px;*/
    position: relative;
}

#article_box .article_right .hot_article h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 30px 200px 0 30px;
    margin-bottom: 10px;
    color: #000;
}

#article_box .article_right .hot_article .all {
    position: absolute;
    margin-top: -35px;
    right: 30px;
    float: left;
}

#article_box .article_right .hot_article .all a {
    color: #666;
}

#article_box .article_right .hot_article .all a:hover {
    color: #ccc;
}

#article_box .article_right .hot_article .mark {
    display: inline-block;
    background-color: #f63756;
    position: absolute;
    z-index: 1;
    height: 20px;
    line-height: 20px;
    margin: -35px 0 0 0;
    width: 4px;
    left: 0;
}

#article_box .article_right .hot_article .box ul {
    margin: 5px 10px;
    padding: 0;
    overflow: hidden;
}

#article_box .article_right .hot_article .box ul li {
    float: left;
    width: 300px;
    margin-left: 5px;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-align: justify;
    text-overflow: ellipsis;
    list-style-type: none;
    word-break: normal;
    word-wrap: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

#article_box .article_right .hot_article .box ul li a {
    color: #000;
    font-family: "微软雅黑";
    text-decoration: none;
    display: inline-block;
}

#article_box .article_right .hot_article .box ul li a span {
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    background: #979598;
    color: #fff;
    border-radius: 5px;
}

#article_box .article_right .hot_article .box ul li a .one {
    background: #ff858e;
}

#article_box .article_right .hot_article .box ul li a .two {
    background: #77d549;
}

#article_box .article_right .hot_article .box ul li a .three {
    background: #62c1ff;
}

/*#article_box .article_right .hot_article .box ul li:hover {
  -webkit-transform: scale(1.2) translate(1px, 5px);
  -moz-transform: scale(1.2) translate(1px, 5px);
  -o-transform: scale(1.2) translate(1px, 5px);
  transform: scale(1.2) translate(1px, 5px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}*/

#article_box .article_right .hot_article .box ul li a:hover {
    color: #3ca5f6;
}

/**点击排行 end**/

/**友情链接 start **/
#article_box .article_right .friendly_link {
    width: 340px;
    /*margin-left: 50px;*/
    margin-top: 25px;
    position: relative;
}

#article_box .article_right .friendly_link h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 30px 200px 0 30px;
    margin-bottom: 10px;
    color: #000;
}

#article_box .article_right .friendly_link .all {
    position: absolute;
    margin-top: -35px;
    right: 30px;
    float: left;
}

#article_box .article_right .friendly_link .all a {
    color: #666;
}

#article_box .article_right .friendly_link .all a:hover {
    color: #ccc;
}

#article_box .article_right .friendly_link .mark {
    display: inline-block;
    background-color: #f63756;
    position: absolute;
    z-index: 1;
    height: 20px;
    line-height: 20px;
    margin: -35px 0 0 0;
    width: 4px;
    left: 0;
}

#article_box .article_right .friendly_link .box ul {
    margin: 15px 0 0 0;
}

#article_box .article_right .friendly_link .box ul li {
    float: left;
    height: 35px;
    background: #1E9FFF;
    margin: 0 20px 20px 10px;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 5px;
    list-style-type: none;
}

#article_box .article_right .friendly_link .box ul li a {
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 33px;
    text-decoration: none;
}

#article_box .article_right .friendly_link .box ul li:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#article_box .article_right .friendly_link .box ul li a:hover {
    color: #fff;
}

/**友情链接 end**/

