body,
html {
	background: #F1F5F8;
	font-family: "微软雅黑";
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	clear: both
}

.pt_title {
	margin: 20px 0;
	font-size: 14px;
	color: #3773ea;
}

.pt_title a {
	color: #878787;
}

/*分页*/
.fenyeqi{
	margin:0 auto;
	text-align: center;
}
.fyeqi{
	display: flex;
	align-items: center;
	text-align: center;
	display: inline-block;
	margin-top: 30px;
}
.fyeqi li{
	display: inline-block;
	line-height: 40px;
	background: #fff;
	margin-left: 10px;
}
.fyeqi li a{
	display: block;
	padding:0 18px;
	color: #333;
}
.fyactive{
	background: #3E71E7!important;
	color: #fff!important;
}

.fyactive a{
	color: #fff!important;
}
/*分页 结束*/

/*主题开始*/
.thread .plat_rewards {
	width: 330px;
}

.thread .thread_condition {
	width: 849px;
}

.thread .thread_rewards {
	width: 278px;
}

/* 热门帖子 */

.thread .hot_posts {
	background: #fff;
	padding: 0 20px;
	margin-bottom: 20px;
}

.thread .hot_posts .profit_left img {
	width: 288px;
	height: 163px;
}

.thread .posts_title {
	height: 50px;
	line-height: 50px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e6e6e6;
}

.thread .posts_title h5 {
	position: relative;
	display: inline-block;
	float: left;
	height: 46px;
	line-height: 45px;
	font-size: 18px;
	color: #333333;
	width: 12%;
	text-align: center;
	background: url(../images/first_week/ls.png)no-repeat left center;
}

.thread .posts_title h5::after {
	position: absolute;
	content: '';
	background: #2478fb;
	width: 100px;
	height: 3px;
	left: 0;
	bottom: -3px;
}

.thread .posts_title a {
	display: inline-block;
	float: right;
	color: #888;
	font-size: 14px;
}

.thread .profit_right {
	width: 288px;
	padding-bottom: 10px;
}

.thread .profit_right {
	width: 489px;
}

.thread .profit_right ul li {
	margin-bottom: 25px;
}

.thread .profit_right ul li h3 {
	float: left;
	font-size: 14px;
	color: #4c4c4c;
	text-indent: 2em;
	background: url(../images/first_week/lfk.png)no-repeat left center;
}

.thread .profit_right ul li span {
	float: right;
	font-size: 14px;
	color: #cccccc;
}

.thread .profit_right ul li:hover h3 {
	color: #2478fb;
}

/* 主题内容 */

.thread .posts_title2 {
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border-bottom: 1px solid #e6e6e6;
}

.thread .posts_title2 h5 {
	position: relative;
	display: inline-block;
	height: 46px;
	line-height: 45px;
	float: left;
	font-size: 18px;
	color: #333333;
	width: 12%;
	text-align: center;
	background: url(../images/first_week/ls.png)no-repeat left center;
}

.thread .posts_title2 h5::after {
	position: absolute;
	content: '';
	background: #2478fb;
	width: 100px;
	height: 3px;
	left: 0;
	bottom: -3px;
}

.thread .posts_title2 a {
	display: inline-block;
	float: right;
	color: #ffffff;
	font-size: 14px;
	width: 98px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;
	text-indent: 1.5em;
	background: url(../images/first_week/fj.png) no-repeat left 8px center, #2478fb;
}

.thread_comcate {
	background: #fff;
}

.thread .comcate_top .comcate_title ul li {
	width: 20%;
	height: 50px;
	color: #666666;
	font-size: 16px;
	float: left;
	text-align: center;
	line-height: 50px;
	background: #f7f7f7;
	cursor: pointer;
}

.thread .comcate_top .comcate_title ul .morenew {
	background: #fff !important;
	color: #3773ea !important;
	font-weight: bold;
}

.comcate_news ul li {
	padding: 0 20px 0 53px;
	border-bottom: 1px solid #e6e6e6;
}

.thread .thread_news h3 {
	color: #333333;
	font-size: 16px;
	height: 64px;
	line-height: 64px;
	width: 80%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.thread .thread_news h3 span {
	color: #2478FA;
}

.thread .thread_data {
	padding: 20px 0;
}

.thread .thread_data p {
	display: inline-block;
	font-size: 14px;
	color: #b2b2b2;
	margin-right: 30px;
}

.thread .thread_data p span {
	margin-left: 5px;
}

.thread .thread_data p img {
	vertical-align: bottom;
}

.comcate_news ul li:hover .thread_news h3 {
	color: #2478FA;
	transition: all ease-in-out .3s;
}

/* 主题内容右边 */

.thread .rewards_post {
	background: #fff;
	padding: 25px 20px;
	margin-bottom: 20px;
}

.thread .posting_top img {
	display: inline-block;
	vertical-align: top;
}

.thread .posting_top {
	/*margin-bottom: 20px;*/
}

.thread .posting_top p {
	font-size: 14px;
	color: #4c4c4c !important;
	display: inline-block;
	width: 190px;
	margin-left: 10px;
	height: 80px;
	line-height: 20px;
}

.thread .rewards_post p {
	color: #999999;
	font-size: 12px;
	line-height: 20px;
}

.thread .posting_us {
	width: 200px;
	height: 44px;
	line-height: 44px;
	border: 1px solid #3b75ea;
	text-align: center;
	border-radius: 5px;
	margin: 20px auto 0;
}

.posting_us a {
	display: inline-block;
	color: #3b75ea;
	font-size: 18px;
	text-indent: 1em;
	background: url(../images/first_week/ym.png)no-repeat left center;
}

.thread .evaluation {
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border-bottom: 1px solid #89acf2;
	background: #fff;
	margin-top: 20px;
}

.thread .evaluation_ty h5 {
	display: inline-block;
	font-size: 18px;
	color: #333333;
	text-align: center;
	text-indent: 1em;
	background: url(../images/first_week/ls.png)no-repeat left center;
}

.thread .evaluation_ty a {
	display: inline-block;
	float: right;
	color: #888;
	font-size: 14px;
}

.thread .evaluation_list ul li {
	padding-left: 25px;
	padding-right: 10px;
	padding-top: 26px;
	padding-bottom: 26px;
	background: #fff;
	margin-top: 18px;
}

.thread .evaluation_list .list_right {
	width: 148px;
}

.thread .evaluation_list .list_right .bad {
	color: #ff6666 !important;
}

.thread .evaluation_list .list_right .yiban {
	color: #888888 !important;
}

.thread .evaluation_list .list_right h3 {
	display: inline;
	font-size: 18px;
	color: #333;
}

.thread .evaluation_list .list_right span {
	font-size: 12px;
	color: #3773ea;
}

.thread .evaluation_list .list_right p {
	font-size: 12px;
	color: #b2b2b2;
	line-height: 45px;
}

.thread .evaluation_list .list_right img {
	vertical-align: middle;
	margin-left: 16px;
	margin-right: 8px;
}

.thread .evaluation_list .list_left img {
	/* width: 100%; */
	width: 120px;
	height: 46px;
}

.thread .evaluation_list ul li p {
	font-size: 14px;
	color: #333333;
	line-height: 22px;
}

.thread .evaluation_list .millde_pic img {
	margin-bottom: 18px;
}

/*主题 结束*/