<ng-template #sideTpl>
  <nz-sider [nzTrigger]="null" [nzCollapsible]="true" [nzCollapsed]="settings.layout.collapsed"
    [nzWidth]="width" class="layout-simple__sider" [class.light]="theme === 'light'">
    <div class="layout-simple__logo" key="logo">
      <a [routerLink]="['/']">
        <img src="./assets/logo-color.svg" alt="{{settings.app.name}}" />
        <h1>{{settings.app.name}}</h1>
      </a>
    </div>
    <layout-simple-sidebar [isMobile]="isMobile" [theme]="theme"></layout-simple-sidebar>
  </nz-sider>
</ng-template>
<div class="ant-layout ant-layout-has-sider">
  <div *ngIf="isMobile" class="ls__drawer" [class.ls__drawer-open]="!settings.layout.collapsed">
    <div class="ls__drawer-bg" [hidden]="settings.layout.collapsed" (click)="toggleCollapsedSidebar()"></div>
    <div class="ls__drawer-wrapper" [ngStyle]="{
      'width.px': width,
      'left.px': -width,
      'transform': !settings.layout.collapsed ? 'translateX(256px)' : null
    }">
      <div class="ls__drawer-content">
        <ng-template [ngTemplateOutlet]="sideTpl"></ng-template>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!isMobile">
    <ng-template [ngTemplateOutlet]="sideTpl"></ng-template>
  </ng-container>
  <div class="ant-layout">
    <div class="ant-layout-header">
      <layout-simple-header [isMobile]="isMobile"></layout-simple-header>
    </div>
    <div class="ant-layout-content" style="margin: 0 24px 0px; height: 100%;">
      <router-outlet></router-outlet>
    </div>
    <div class="ant-layout-footer"></div>
  </div>
</div>
