#content_main {
  width: 1270px;
  margin: 25px auto;
  overflow: hidden;
}
#content_main .main_left {
  float: left;
  overflow: hidden;
  width: 820px;
}
#content_main .main_right {
  float: right;
  width: 340px;
  overflow: hidden;
  margin-right: 5px;
}
[nz-carousel-content] {
  text-align: center;
  height: 280px;
  line-height: 280px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}
h3 {
  color: #fff;
}
#content_main .main_left .item_box {
  margin-top: 25px;
  border-bottom: 1px solid #f0f0f0;
  height: 180px;
}
#content_main .main_left .i_img {
  float: left;
  width: 220px;
  height: 120px;
  overflow: hidden;
  margin: 30px 10px;
}
#content_main .main_left .i_img img {
  width: 100%;
}
#content_main .main_left .i_img:hover img {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#content_main .main_left .i_content {
  position: relative;
  float: right;
  width: 530px;
  margin: 30px 30px 0 0;
}
#content_main .main_left .i_content h2 {
  font-size: 24px;
}
#content_main .main_left .i_content h2 a {
  display: block;
  font-size: 18px;
  line-height: 1.5;
  word-break: normal;
  word-wrap: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none;
  color: #000;
}
#content_main .main_left .i_content h2 a:hover {
  color: #40a9ff;
}
#content_main .main_left .i_content .user_item .user_info {
  height: 60px;
  line-height: 60px;
}
#content_main .main_left .i_content .user_item .user_img {
  width: 35px;
  height: 35px;
  position: absolute;
}
#content_main .main_left .i_content .user_item .user_img img {
  width: 100%;
  overflow: hidden;
  border-radius: 35px;
}
#content_main .main_left .i_content .user_item a {
  text-decoration: none;
  color: #ccc;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#content_main .main_left .i_content .user_item .author-name {
  margin-left: 50px;
}
#content_main .main_left .i_content .user_item .datetime {
  color: #ccc;
  margin-left: 15px;
}
#content_main .main_left .i_content .user_item .anticon {
  color: #ccc;
}
#content_main .main_left .i_content .user_item i {
  font-size: 18px;
}
#content_main .main_left .i_content .user_item .anticon-eye-o {
  margin-left: 15px;
  font-size: 20px;
}
#content_main .main_left .i_content .user_item .anticon-message {
  margin-left: 15px;
}
#content_main .main_left .i_content .user_item em {
  color: #ccc;
  margin-left: 5px;
}
#content_main .main_left .i_content .user_item .forum {
  float: right;
}
#content_main .main_left .i_content .user_item .forum a {
  color: #3ca5f6;
}
#content_main .main_right .r_box {
  background-color: #fafafa;
  overflow: hidden;
  text-align: center;
  width: 340px;
}
#content_main .main_right .like_site {
  width: 340px;
  position: relative;
  height: 295px;
}
#content_main .main_right .like_site h3 {
  font-size: 20px;
  font-weight: 500;
  padding: 30px 200px 0 30px;
  margin-bottom: 10px;
  color: #000;
}
#content_main .main_right .like_site .like_site_all {
  position: absolute;
  margin-top: -35px;
  right: 30px;
  float: left;
}
#content_main .main_right .like_site .like_site_all a {
  color: #666;
}
#content_main .main_right .like_site .like_site_all a:hover {
  color: #ccc;
}
#content_main .main_right .like_site .mark {
  display: inline-block;
  background-color: #f63756;
  position: absolute;
  z-index: 1;
  height: 20px;
  line-height: 20px;
  margin: -35px 0 0 0;
  width: 4px;
  left: 0;
}
#content_main .main_right .like_site .like_site_box ul {
  margin: 10px 0 0 0;
  display: inline-block;
}
#content_main .main_right .like_site .like_site_box ul li {
  float: left;
  height: 35px;
  border: 1px solid #f0f0f0;
  margin: 0 20px 20px 10px;
  padding: 0 15px;
  cursor: pointer;
  list-style-type: none;
}
#content_main .main_right .like_site .like_site_box ul li a {
  color: #ccc;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 33px;
  text-decoration: none;
}
#content_main .main_right .like_site .like_site_box ul li:hover {
  -webkit-transform: scale(1.2) translate(1px, 5px);
  -moz-transform: scale(1.2) translate(1px, 5px);
  -o-transform: scale(1.2) translate(1px, 5px);
  transform: scale(1.2) translate(1px, 5px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#content_main .main_right .like_site .like_site_box ul li a:hover {
  color: #3ca5f6;
}
#content_main .main_right .hot_article {
  margin-top: 25px;
  width: 340px;
  position: relative;
}
#content_main .main_right .hot_article h3 {
  font-size: 20px;
  font-weight: 500;
  padding: 30px 200px 0 30px;
  margin-bottom: 10px;
  color: #000;
}
#content_main .main_right .hot_article .all {
  position: absolute;
  margin-top: -35px;
  right: 30px;
  float: left;
}
#content_main .main_right .hot_article .all a {
  color: #666;
}
#content_main .main_right .hot_article .all a:hover {
  color: #ccc;
}
#content_main .main_right .hot_article .mark {
  display: inline-block;
  background-color: #f63756;
  position: absolute;
  z-index: 1;
  height: 20px;
  line-height: 20px;
  margin: -35px 0 0 0;
  width: 4px;
  left: 0;
}
#content_main .main_right .hot_article .box ul {
  margin: 5px 10px;
  padding: 0;
}
#content_main .main_right .hot_article .box ul li {
  float: left;
  width: 320px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  list-style-type: none;
  text-align: center;
}
#content_main .main_right .hot_article .box ul li a {
  color: #000;
  font-family: "微软雅黑";
  font-size: 14px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: normal;
  word-wrap: normal;
  white-space: nowrap;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: block;
}
#content_main .main_right .hot_article .box ul li a span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  background: #979598;
  color: #fff;
  border-radius: 5px;
}
#content_main .main_right .hot_article .box ul li a .one {
  background: #ff858e;
}
#content_main .main_right .hot_article .box ul li a .two {
  background: #77d549;
}
#content_main .main_right .hot_article .box ul li a .three {
  background: #62c1ff;
}
/*#content_main .main_right .hot_article .box ul li:hover {
  -webkit-transform: scale(1.2) translate(1px, 5px);
  -moz-transform: scale(1.2) translate(1px, 5px);
  -o-transform: scale(1.2) translate(1px, 5px);
  transform: scale(1.2) translate(1px, 5px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}*/
#content_main .main_right .hot_article .box ul li a:hover {
  color: #3ca5f6;
}
#content_main .main_right .friendly_link {
  width: 340px;
  position: relative;
  margin-top: 25px;
}
#content_main .main_right .friendly_link h3 {
  font-size: 20px;
  font-weight: 500;
  padding: 30px 200px 0 30px;
  margin-bottom: 10px;
  color: #000;
}
#content_main .main_right .friendly_link .all {
  position: absolute;
  margin-top: -35px;
  right: 30px;
  float: left;
}
#content_main .main_right .friendly_link .all a {
  color: #666;
}
#content_main .main_right .friendly_link .all a:hover {
  color: #ccc;
}
#content_main .main_right .friendly_link .mark {
  display: inline-block;
  background-color: #f63756;
  position: absolute;
  z-index: 1;
  height: 20px;
  line-height: 20px;
  margin: -35px 0 0 0;
  width: 4px;
  left: 0;
}
#content_main .main_right .friendly_link .box ul {
  margin: 10px 0 0 0;
  display: inline-block;
}
#content_main .main_right .friendly_link .box ul li {
  float: left;
  height: 35px;
  border: 1px solid #f0f0f0;
  margin: 0 20px 20px 10px;
  padding: 0 15px;
  cursor: pointer;
  list-style-type: none;
}
#content_main .main_right .friendly_link .box ul li a {
  color: #ccc;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 33px;
  text-decoration: none;
}
#content_main .main_right .friendly_link .box ul li:hover {
  -webkit-transform: scale(1.2) translate(1px, 5px);
  -moz-transform: scale(1.2) translate(1px, 5px);
  -o-transform: scale(1.2) translate(1px, 5px);
  transform: scale(1.2) translate(1px, 5px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#content_main .main_right .friendly_link .box ul li a:hover {
  color: #3ca5f6;
}
