<div id="content_main">

  <!--main_left start-->
  <div class="main_left">

    <nz-carousel nzVertical nzAutoPlay>
      <div nz-carousel-content *ngFor="let index of array"><h3>{{index}}</h3></div>
    </nz-carousel>

    <!--item_box start-->
    <div class="item_box" *ngFor="let item of list">
      <div class="i_img">
        <a routerLink="/article/{{item.id}}"  target="_blank">
          <img
            src={{item.coverimg}}/>
        </a>
      </div>
      <div class="i_content">
        <h2>
          <a routerLink="/article/{{item.id}}" target="_blank">
            {{item.subject}}
          </a>
        </h2>
        <div class="user_item">
          <div class="user_info">
            <div class="user_img">
              <a href="javascript:void(0)" target="_blank">
                <img src={{item.headurl}}>
              </a>
            </div>
            <a href="javascript:void(0)" target="_blank">
              <span class="author-name">{{item.username}}</span>
            </a>
            <span class="datetime">发布时间：{{item.dateline | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            <i class="anticon anticon-eye-o eye"></i>
            <em>{{item.views}}</em>
            <i class="anticon anticon-message"></i>
            <em>{{item.replies}}</em>
          </div>
          <div class="forum">
            <a href="javascript:void(0)" target="_blank">
              {{item.fname}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--item_box end-->





    <!--page start-->
    <div style="margin: 25px 0;text-align: center">
      <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
                     nzShowQuickJumper [nzShowTotal]="totalTemplate"
                     [nzPageSizeOptions]="[10,20,30,40,50,60]"
                     (nzPageIndexChange)="nzPageIndexChange($event)"
                     (nzPageSizeChange)="nzPageSizeChange($event)"></nz-pagination>
      <ng-template #totalTemplate let-total>共 {{total}} 条</ng-template>
    </div>
    <!--page end-->

  </div>
  <!--main_left end-->

  <!--main_right start-->
  <div class="main_right">

    <!--like_site start-->
    <div class="r_box like_site">
      <h3>常用站点</h3>
      <span class="like_site_all">
          <a href="javascript:void(0)" target="_blank">
             更多
          </a>
      </span>
      <span class="mark"></span>
      <div class="like_site_box">
        <ul>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">阮一峰</a>
          </li>
          <li>
            <a href="javascript:void(0)" target="_blank">SpringMvc</a>
          </li>
          <li>
            <a href="javascript:void(0)" target="_blank">JAVA8</a>
          </li>
        </ul>
      </div>
    </div>
    <!--like_site end-->



    <!--hot_article start-->
    <div class="r_box hot_article">
      <h3>点击排行</h3>
      <span class="all">
          <a href="javascript:void(0)" target="_blank">
             更多
          </a>
      </span>
      <span class="mark"></span>
      <div class="box">
        <ul>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">
              <span class="one">1</span>
              偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
            </a>
          </li>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">
              <span class="two">2</span>
              偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
            </a>
          </li>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">
              <span class="three">3</span>
              偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
            </a>
          </li>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">
              <span>1</span>
              偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
            </a>
          </li>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">
              <span>2</span>
              偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
            </a>
          </li>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">
              <span>3</span>
              偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
            </a>
          </li>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">
              <span>1</span>
              偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
            </a>
          </li>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">
              <span class="num">2</span>
              偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
            </a>
          </li>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">
              <span class="num">3</span>
              偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
            </a>
          </li>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">
              <span class="num">1</span>
              偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
            </a>
          </li>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">
              <span class="num">2</span>
              偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
            </a>
          </li>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">
              <span class="num">3</span>
              偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
            </a>
          </li>

        </ul>
      </div>
    </div>
    <!--hot_article end-->

    <!--friendly_link start-->
    <div class="r_box friendly_link">
      <h3>友情链接</h3>
      <span class="all">
          <a href="javascript:void(0)" target="_blank">
             更多
          </a>
      </span>
      <span class="mark"></span>
      <div class="box">
        <ul>
          <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">阮一峰</a>
          </li>
          <li>
            <a href="javascript:void(0)" target="_blank">SpringMvc</a>
          </li>
          <li>
            <a href="javascript:void(0)" target="_blank">JAVA8</a>
          </li>
        </ul>
      </div>
    </div>
    <!--friendly_link end-->


  </div>
  <!--main_right end-->
</div>

