<div id="content_main">

  <!--main_left start-->
  <div class="main_left">

    <nz-carousel nzVertical nzAutoPlay>
      <div nz-carousel-content *ngFor="let index of array"><h3>{{index}}</h3></div>
    </nz-carousel>

    <!--item_box start-->
    <div class="item_box">
      <div class="i_img">
        <a href="javascript:void(0)" target="_blank">
          <img
            src="https://img.huxiucdn.com/article/cover/201808/08/111206644564.jpg?imageView2/1/w/710/h/400/|imageMogr2/strip/interlace/1/quality/85/format/jpg"/>
        </a>
      </div>
      <div class="i_content">
        <h2>
          <a href="javascript:void(0)" target="_blank">
            偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
          </a>
        </h2>
        <div class="user_item">
          <div class="user_info">
            <div class="user_img">
              <a href="javascript:void(0)" target="_blank">
                <img
                  src="https://img.huxiucdn.com/auth/data/avatar/001/36/20/44_avatar_big.jpg?imageView2/1/w/40/h/40/|imageMogr2/strip/interlace/1/quality/85/format/jpg">
              </a>
            </div>
            <a href="javascript:void(0)" target="_blank">
              <span class="author-name">风之魂</span>
            </a>
            <span class="datetime">发布时间：2018-07-26 20:36</span>
            <i class="anticon anticon-eye-o eye"></i>
            <em>454556</em>
            <i class="anticon anticon-message"></i>
            <em>454556</em>
          </div>
          <div class="forum">
            <a href="javascript:void(0)" target="_blank">
              JAVA
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--item_box end-->

    <!--item_box start-->
    <div class="item_box">
      <div class="i_img">
        <a href="javascript:void(0)" target="_blank">
          <img
            src="https://img.huxiucdn.com/article/cover/201808/08/111206644564.jpg?imageView2/1/w/710/h/400/|imageMogr2/strip/interlace/1/quality/85/format/jpg"/>
        </a>
      </div>
      <div class="i_content">
        <h2>
          <a href="javascript:void(0)" target="_blank">
            偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
          </a>
        </h2>
        <div class="user_item">
          <div class="user_info">
            <div class="user_img">
              <a href="javascript:void(0)" target="_blank">
                <img
                  src="https://img.huxiucdn.com/auth/data/avatar/001/36/20/44_avatar_big.jpg?imageView2/1/w/40/h/40/|imageMogr2/strip/interlace/1/quality/85/format/jpg">
              </a>
            </div>
            <a href="javascript:void(0)" target="_blank">
              <span class="author-name">风之魂</span>
            </a>
            <span class="datetime">发布时间：2018-07-26 20:36</span>
            <i class="anticon anticon-eye-o eye"></i>
            <em>454556</em>
            <i class="anticon anticon-message"></i>
            <em>454556</em>
          </div>
          <div class="forum">
            <a href="javascript:void(0)" target="_blank">
              JAVA
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--item_box end-->

    <!--item_box start-->
    <div class="item_box">
      <div class="i_img">
        <a href="javascript:void(0)" target="_blank">
          <img
            src="https://img.huxiucdn.com/article/cover/201808/08/111206644564.jpg?imageView2/1/w/710/h/400/|imageMogr2/strip/interlace/1/quality/85/format/jpg"/>
        </a>
      </div>
      <div class="i_content">
        <h2>
          <a href="javascript:void(0)" target="_blank">
            偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
          </a>
        </h2>
        <div class="user_item">
          <div class="user_info">
            <div class="user_img">
              <a href="javascript:void(0)" target="_blank">
                <img
                  src="https://img.huxiucdn.com/auth/data/avatar/001/36/20/44_avatar_big.jpg?imageView2/1/w/40/h/40/|imageMogr2/strip/interlace/1/quality/85/format/jpg">
              </a>
            </div>
            <a href="javascript:void(0)" target="_blank">
              <span class="author-name">风之魂</span>
            </a>
            <span class="datetime">发布时间：2018-07-26 20:36</span>
            <i class="anticon anticon-eye-o eye"></i>
            <em>454556</em>
            <i class="anticon anticon-message"></i>
            <em>454556</em>
          </div>
          <div class="forum">
            <a href="javascript:void(0)" target="_blank">
              JAVA
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--item_box end-->

    <!--item_box start-->
    <div class="item_box">
      <div class="i_img">
        <a href="javascript:void(0)" target="_blank">
          <img
            src="https://img.huxiucdn.com/article/cover/201808/08/111206644564.jpg?imageView2/1/w/710/h/400/|imageMogr2/strip/interlace/1/quality/85/format/jpg"/>
        </a>
      </div>
      <div class="i_content">
        <h2>
          <a href="javascript:void(0)" target="_blank">
            偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
          </a>
        </h2>
        <div class="user_item">
          <div class="user_info">
            <div class="user_img">
              <a href="javascript:void(0)" target="_blank">
                <img
                  src="https://img.huxiucdn.com/auth/data/avatar/001/36/20/44_avatar_big.jpg?imageView2/1/w/40/h/40/|imageMogr2/strip/interlace/1/quality/85/format/jpg">
              </a>
            </div>
            <a href="javascript:void(0)" target="_blank">
              <span class="author-name">风之魂</span>
            </a>
            <span class="datetime">发布时间：2018-07-26 20:36</span>
            <i class="anticon anticon-eye-o eye"></i>
            <em>454556</em>
            <i class="anticon anticon-message"></i>
            <em>454556</em>
          </div>
          <div class="forum">
            <a href="javascript:void(0)" target="_blank">
              JAVA
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--item_box end-->

    <!--item_box start-->
    <div class="item_box">
      <div class="i_img">
        <a href="javascript:void(0)" target="_blank">
          <img
            src="https://img.huxiucdn.com/article/cover/201808/08/111206644564.jpg?imageView2/1/w/710/h/400/|imageMogr2/strip/interlace/1/quality/85/format/jpg"/>
        </a>
      </div>
      <div class="i_content">
        <h2>
          <a href="javascript:void(0)" target="_blank">
            偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
          </a>
        </h2>
        <div class="user_item">
          <div class="user_info">
            <div class="user_img">
              <a href="javascript:void(0)" target="_blank">
                <img
                  src="https://img.huxiucdn.com/auth/data/avatar/001/36/20/44_avatar_big.jpg?imageView2/1/w/40/h/40/|imageMogr2/strip/interlace/1/quality/85/format/jpg">
              </a>
            </div>
            <a href="javascript:void(0)" target="_blank">
              <span class="author-name">风之魂</span>
            </a>
            <span class="datetime">发布时间：2018-07-26 20:36</span>
            <i class="anticon anticon-eye-o eye"></i>
            <em>454556</em>
            <i class="anticon anticon-message"></i>
            <em>454556</em>
          </div>
          <div class="forum">
            <a href="javascript:void(0)" target="_blank">
              JAVA
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--item_box end-->

    <!--item_box start-->
    <div class="item_box">
      <div class="i_img">
        <a href="javascript:void(0)" target="_blank">
          <img
            src="https://img.huxiucdn.com/article/cover/201808/08/111206644564.jpg?imageView2/1/w/710/h/400/|imageMogr2/strip/interlace/1/quality/85/format/jpg"/>
        </a>
      </div>
      <div class="i_content">
        <h2>
          <a href="javascript:void(0)" target="_blank">
            偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
          </a>
        </h2>
        <div class="user_item">
          <div class="user_info">
            <div class="user_img">
              <a href="javascript:void(0)" target="_blank">
                <img
                  src="https://img.huxiucdn.com/auth/data/avatar/001/36/20/44_avatar_big.jpg?imageView2/1/w/40/h/40/|imageMogr2/strip/interlace/1/quality/85/format/jpg">
              </a>
            </div>
            <a href="javascript:void(0)" target="_blank">
              <span class="author-name">风之魂</span>
            </a>
            <span class="datetime">发布时间：2018-07-26 20:36</span>
            <i class="anticon anticon-eye-o eye"></i>
            <em>454556</em>
            <i class="anticon anticon-message"></i>
            <em>454556</em>
          </div>
          <div class="forum">
            <a href="javascript:void(0)" target="_blank">
              JAVA
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--item_box end-->

    <!--item_box start-->
    <div class="item_box">
      <div class="i_img">
        <a href="javascript:void(0)" target="_blank">
          <img
            src="https://img.huxiucdn.com/article/cover/201808/08/111206644564.jpg?imageView2/1/w/710/h/400/|imageMogr2/strip/interlace/1/quality/85/format/jpg"/>
        </a>
      </div>
      <div class="i_content">
        <h2>
          <a href="javascript:void(0)" target="_blank">
            偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
          </a>
        </h2>
        <div class="user_item">
          <div class="user_info">
            <div class="user_img">
              <a href="javascript:void(0)" target="_blank">
                <img
                  src="https://img.huxiucdn.com/auth/data/avatar/001/36/20/44_avatar_big.jpg?imageView2/1/w/40/h/40/|imageMogr2/strip/interlace/1/quality/85/format/jpg">
              </a>
            </div>
            <a href="javascript:void(0)" target="_blank">
              <span class="author-name">风之魂</span>
            </a>
            <span class="datetime">发布时间：2018-07-26 20:36</span>
            <i class="anticon anticon-eye-o eye"></i>
            <em>454556</em>
            <i class="anticon anticon-message"></i>
            <em>454556</em>
          </div>
          <div class="forum">
            <a href="javascript:void(0)" target="_blank">
              JAVA
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--item_box end-->

    <!--item_box start-->
    <div class="item_box">
      <div class="i_img">
        <a href="javascript:void(0)" target="_blank">
          <img
            src="https://img.huxiucdn.com/article/cover/201808/08/111206644564.jpg?imageView2/1/w/710/h/400/|imageMogr2/strip/interlace/1/quality/85/format/jpg"/>
        </a>
      </div>
      <div class="i_content">
        <h2>
          <a href="javascript:void(0)" target="_blank">
            偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代偶像的魔幻时代
          </a>
        </h2>
        <div class="user_item">
          <div class="user_info">
            <div class="user_img">
              <a href="javascript:void(0)" target="_blank">
                <img
                  src="https://img.huxiucdn.com/auth/data/avatar/001/36/20/44_avatar_big.jpg?imageView2/1/w/40/h/40/|imageMogr2/strip/interlace/1/quality/85/format/jpg">
              </a>
            </div>
            <a href="javascript:void(0)" target="_blank">
              <span class="author-name">风之魂</span>
            </a>
            <span class="datetime">发布时间：2018-07-26 20:36</span>
            <i class="anticon anticon-eye-o eye"></i>
            <em>454556</em>
            <i class="anticon anticon-message"></i>
            <em>454556</em>
          </div>
          <div class="forum">
            <a href="javascript:void(0)" target="_blank">
              JAVA
            </a>
          </div>
        </div>
      </div>
     </div>
    <div style="margin: 25px 0;text-align: center">
      <nz-pagination [nzPageIndex]="3" [nzTotal]="500" nzShowSizeChanger [nzPageSize]="10" nzShowQuickJumper></nz-pagination>
    </div>
    <!--item_box end-->

  </div>
  <!--main_left end-->

  <!--main_right start-->
  <div class="main_right">

  </div>
  <!--main_right end-->
</div>

