<app-home-index-hearder></app-home-index-hearder>
<div style="background: #fff;">
  <div id="detail_main">
    <div id="detail_main_box">
      <!--content start-->
      <div class="b_left">
        <div class="l_tag">
          <ul>
            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-wechat"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-alipay"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-qq"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-weibo"></i>
              </a>
            </li>

            <li style="margin-top:35px;">
              <a href="javascript:void(0)">
                <i class="anticon anticon-message"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-star-o"></i>
              </a>
            </li>

            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-edit"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-delete"></i>
              </a>
            </li>
          </ul>
        </div>
        <!--l_content start-->
        <div class="l_content">
          <div class="l_content_header">
            <h1 class="header_subject">
              <span class="subject_type type_3">转</span>
              拼多多的朋友和敌人拼多多的朋友和敌人拼多多的朋友和敌人拼多多的朋友和敌人拼多多的朋友和敌人拼多多的朋友和敌人
            </h1>
            <div class="header_author">
                  <span class="header_username">
                        <a href="javascript:void(0)">phpfzh</a>
                  </span>
              <div class="header_link_box">
                <span class="article_time">2018-07-26 20:36</span>
                <span class="article_view">浏览&nbsp;88565656</span>
                <span class="article_com">评论&nbsp;56565</span>
                <a href="javascript:void(0)" class="article_link">JAVA</a>
              </div>
            </div>
          </div>
          <div class="l_content_img">
            <img src="https://goss.veer.com/creative/vcg/veer/1600water/veer-153618676.jpg">
          </div>
          <div class="l_content_con">
            马云携阿里巴巴B2B业务前往香港上市，刘强东拿到今日资本的第一笔融资，这两个意义重大的事件都发生在2007年。如今，阿里和京东是国内最大的两家电商公司。


            这一年，除了金融危机爆发，还发生了一件在当时不足为道，却在日后足以搅动中国电商格局的事情。1980年出生的黄峥决定离开Google，从零创业。


            11年后的今天，当年那个27岁的年轻人把一家叫拼多多的公司送去美国上市。如果按GMV指标来衡量，拼多多已经是除阿里、京东外的第三大电商公司，甚至在2017年11月，它的日订单量已经超过京东。


            取得上述成绩，黄峥只花了不到3年时间。


            比淘宝京东用时更短、增速却更快 ，代价就是争议不断。因低价导致假货问题，商家不满“假一罚十”群起而抗议，平台被指责利用海量罚金沉淀盈利。这让黄峥头疼。


            但这并不妨碍很多人成为拼多多的朋友。高榕是最早进入拼多多的风险资本，且在之后的历次融资坚定跟进。早年拼多多还利用微信社交关系链积累流量，一度被微信追杀。2016年7月的B轮融资，腾讯却成为拼多多的股东，且是持股比例最高的机构投资者。2016年底C轮融资，红杉中国更是独家领投，且在D轮融资时继续领投。


            一个有意思的现象是，看不懂甚至看不起拼多多的声音不绝于耳，包括京东在内的电商公司却试图复制拼团模式。最关键的是，拼多多尚不在巨头的狙击火力之内，还没有一家公司能对它构成实质性威胁。


            如果你深度了解这家公司的崛起历程，就会明白，拼多多最大的敌人可能不会是其他公司，只能是自己。
          </div>
        </div>
        <!--l_content end-->
      </div>
      <!--content end-->

      <!--tag start-->
      <div class="b_right">
              <!-- author_info start -->
              <div class="author_info">
                    <div class="author_img">
                          <a href="javascript:void(0)" target="_blank">
                                <img src="http://fc-feed.cdn.bcebos.com/0/pic/748d83aa6ef0d9cff49665cf4ef4ae01.png">
                          </a>
                    </div>
                    <div class="auhtor_username">
                      <a href="javascript:void(0)" target="_blank">
                        蓝洞商业
                      </a>
                    </div>
                    <div class="author-one">你今天必须做别人不愿做的事，好让你明天可以拥有别人不能拥有的东西</div>
                    <div class="author-one">马云</div>
                    <div class="author-article-box">
                        <ul>
                           <li>
                              <a href="javascript:void(0)" target="_blank">56篇文章</a>
                           </li>
                        </ul>
                    </div>
              </div>
              <!-- author_info end -->

              <!--hot_tag start -->
              <div class="hot_tag">
                    <h3>标签</h3>
                    <span class="tag_all">
                        <a href="javascript:void(0)" target="_blank">
                           全部
                        </a>
                    </span>
                    <span class="mark"></span>
                    <div class="tag_box">
                        <ul>
                          <li>
                            <a href="javascript:void(0)" target="_blank">SpringBoot</a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" target="_blank">SpringMvc</a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" target="_blank">JAVA8</a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" target="_blank">vue</a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" target="_blank">SpringB</a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" target="_blank">SpringM</a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" target="_blank">JAVA8</a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" target="_blank">vue</a>
                          </li>
                        </ul>
                    </div>
              </div>
              <!--hot_tag end -->
      </div>
      <!--tag end-->
    </div>
  </div>
</div>
