<app-home-index-hearder></app-home-index-hearder>
<div *ngIf="!detail" style="margin: 35px auto;font-size: 16px;width: 980px;height: 60px;text-align: center;line-height: 60px;">
  {{detailContent}}
</div>

<div style="background: #fff;" *ngIf="detail">
  <div id="detail_main">
    <div id="detail_main_box">
      <!--content start-->
      <div class="b_left">
        <div class="l_tag">
          <ul>
            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-wechat"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-alipay"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-qq"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-weibo"></i>
              </a>
            </li>

            <li style="margin-top:35px;">
              <a href="javascript:void(0)">
                <i class="anticon anticon-message"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-star-o"></i>
              </a>
            </li>

            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-edit"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="anticon anticon-delete"></i>
              </a>
            </li>
          </ul>
        </div>
        <!--l_content start-->
        <div class="l_content">
          <div class="l_content_header">
            <h1 class="header_subject">
               {{threadData.subject}}
            </h1>
            <div class="header_author">
              <div class="header_link_box">
                <span class="article_time">{{threadData.dateline | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                <span class="article_view">浏览&nbsp;{{threadData.views}}</span>
                <span class="article_com">评论&nbsp;{{threadData.replies}}</span>
                <a href="javascript:void(0)" class="article_link">{{threadData.fname}}</a>
              </div>
            </div>

            <div class="tags" *ngIf="tagFlag">
              <div class="tags_icon">
                <i class="anticon anticon-tags-o"></i>
                <span>标签</span>
              </div>
              <ul>
                 <li *ngFor="let itd of threadData.listtags">
                  <a>
                    {{itd.name}}
                  </a>
                </li>
               </ul>
            </div>
          </div>
          <div class="l_content_img">
            <img src={{threadData.coverimg}}>
          </div>
          <div class="l_content_con">
                <div id="l_content_con" [innerHtml]="threadData.content">

                </div>

           </div>
        </div>
        <!--l_content end-->
      </div>
      <!--content end-->

      <!--tag start-->
      <div class="b_right">
        <!-- author_info start -->
        <div class="author_info">
          <div class="author_img">
            <a href="javascript:void(0)" target="_blank">
              <img src={{threadData.headurl}}>
            </a>
          </div>
          <div class="auhtor_username">
            <a href="javascript:void(0)" target="_blank">
              {{threadData.username}}
            </a>
          </div>
          <div class="author-one">你今天必须做别人不愿做的事，好让你明天可以拥有别人不能拥有的东西</div>
          <div class="author-one"></div>
          <div class="author-article-box">
            <ul>
              <li>
                <a href="javascript:void(0)" target="_blank">56篇文章</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- author_info end -->

        <!--hot_tag start -->
        <div class="hot_tag">
          <h3>热门标签</h3>
          <span class="tag_all">
                        <a href="javascript:void(0)" target="_blank">
                           全部
                        </a>
                    </span>
          <span class="mark"></span>
          <div class="tag_box">
            <ul>
              <li>
                <a href="javascript:void(0)" target="_blank">SpringBoot</a>
              </li>
              <li>
                <a href="javascript:void(0)" target="_blank">SpringMvc</a>
              </li>
              <li>
                <a href="javascript:void(0)" target="_blank">JAVA8</a>
              </li>
              <li>
                <a href="javascript:void(0)" target="_blank">vue</a>
              </li>
              <li>
                <a href="javascript:void(0)" target="_blank">SpringB</a>
              </li>
              <li>
                <a href="javascript:void(0)" target="_blank">SpringM</a>
              </li>
              <li>
                <a href="javascript:void(0)" target="_blank">JAVA8</a>
              </li>
              <li>
                <a href="javascript:void(0)" target="_blank">vue</a>
              </li>
            </ul>
          </div>
        </div>
        <!--hot_tag end -->
      </div>
      <!--tag end-->
    </div>
  </div>
</div>
