<div id="header_box">
  <div id="header_box_main" nz-row>
    <div nz-col nzSpan="20" class="m_nav_main" nz-row>
      <a href="/" class="img">
        <div nz-col nzSpan="2"  >
          <img src="http://image.chenjiaming.com/group1/M00/00/01/rBKphltr9kqAGgL-AAA0itDQK1w032.jpg"
               width="100px" height="70px"/>
        </div>
      </a>
      <div nz-col nzSpan="15" class="nav">
        <ul>
           <li *ngFor="let item of headerdata">
            <a href="javscript:void(0)" target="_blank">
              {{item.name}}
            </a>
          </li>

        </ul>
      </div>
      <div nz-col nzSpan="6" class="search">
        <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
          <input type="text" nz-input placeholder="请输入">
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
          </ng-template>
        </nz-input-group>
      </div>
    </div>
    <div nz-col nzSpan="4" class="m_login">
      <ul>
        <li>
          <a href="javascript:void(0)">注册</a>
        </li>
        <li>
          <a href="javascript:void(0)">登录</a>
        </li>
      </ul>
    </div>
  </div>
</div>
