<div id="header_main">
  <div id="header_main_box" nz-row>
    <div nz-col nzspan="4" id="box_img">
      <a href="/">
        <img src="http://img.ui.cn/data/vip/1522148933.jpeg" width="80px" height="70px">
      </a>
    </div>
    <div nz-col nzspan="16" id="box_nav">
      <ul>
        <li>
          <a href="javascript:void(0)">首页</a>
        </li>
        <li>
          <a href="javascript:void(0)">首页</a>
        </li>
        <li>
          <a href="javascript:void(0)">首页</a>
        </li>
      </ul>
    </div>
    <div nz-col nzspan="4">

    </div>
  </div>

</div>
