<app-home-index-hearder></app-home-index-hearder>

<div style="margin-top: 25px"></div>

<div id="content">
  <div id="content_main">
    <nz-list [nzLoading]="loading" [nzSize]="'small'" [nzRenderItem]="item" [nzDataSource]="list"
             [nzGrid]="{gutter: 24, lg: 6, md: 8, sm: 12, xs: 24 }"  >
      <ng-template #item let-item>
        <nz-list-item (click)="msg.success('标题323：'+ item.id);">
          <nz-card nzHoverable [nzCover]="cover">
            <ng-template #cover>
              <img alt="{{item.title}}" src="https://gw.alipayobjects.com/zos/rmsportal/alaPpKWajEbIYEUvvVNf.png">
            </ng-template>
            <nz-card-meta [nzTitle]="nzTitle" [nzDescription]="item.subDescription">
              <ng-template #nzTitle>
                <a (click)="msg.success('标题：' + item.id);">{{item.subject}}</a>
              </ng-template>
            </nz-card-meta>
            <div class="card-item-content" style="margin-top: 10px">
              <span class="text-grey">{{item.dateline | date:'yyyy-MM-dd HH:mm:ss'}}</span>
              &nbsp; &nbsp; &nbsp;
              <span>{{item.username}}</span>
            </div>
          </nz-card>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
</div>
