<ul *ngIf="menus" nz-menu nzMode="inline" [nzTheme]="theme" [nzInlineCollapsed]="settings.layout.collapsed" class="layout-simple__menu">
  <ng-container *ngFor="let l1 of menus">
    <li *ngIf="l1.children.length === 0" nz-menu-item [class.ant-menu-item-selected]="l1._selected" (click)="click(l1)">
      <i class="{{l1.icon}}"></i><span>{{l1.text}}</span>
    </li>
    <li *ngIf="l1.children.length > 0" nz-submenu [nzOpen]="l1._open">
      <span title>
        <i class="{{l1.icon}}"></i><span>{{l1.text}}</span></span>
      <ul>
        <ng-container *ngFor="let l2 of l1.children">
          <li *ngIf="l2.children.length === 0" nz-menu-item [class.ant-menu-item-selected]="l2._selected" (click)="click(l2)">
            {{l2.text}}
          </li>
          <li *ngIf="l2.children.length > 0" nz-submenu [nzOpen]="l2._open">
            <span title><span>{{l2.text}}</span></span>
            <ul>
                <li *ngFor="let l3 of l2.children" nz-menu-item [class.ant-menu-item-selected]="l3._selected"
                  (click)="click(l3)">{{l3.text}}</li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </li>
  </ng-container>
</ul>
